*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: fit-content;
}
.gender {
}

.btn{
    width: 100%;
    background-color: beige;
    text-align: center;
    padding: 10px;
    user-select: none;
    cursor: pointer;
}